<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Create Quiz</title>
	<link rel ="stylesheet" href="{% static "style.css" %}">
</head>
<h1>Create a Quiz</h1>
<body>
    <center>
    <p>Enter the number of questions in the quiz.</p>
	<form action="{% url 'create_quiz' %}" method="post">
        {% for field in createQuizForm %}
            {% csrf_token %}
            <div class="container">
                <b style = "font-family: Verdana">{{ field.label_tag }}</b> {{ field }}
            </div>
        {% endfor %}
        <input type = "submit" value = "Publish Quiz">
    </form>
		<button type="button" onclick="location.href={% url 'teacher_home'%}">Back</button>
    </center>
</body>
</html>

