<!DOCTYPE html>
<html>
<head>
	<title>Student Guilds</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="design2.css">
</head>
<body>
	<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="welcome.html">
	    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
</nav>

<div class="container">

		<h1 class="head">Student Guilds</h1>
		<br/>

		<h1 class="head">Quest 1</h1>

<center>
	<table class="table table-sm table-hover" border = "5" style="text-align: center;" id="questTable">
	<tr align = "center">

	<th style="text-align: center;"> Name </th> <th style="text-align: center;"> EID </th> <th style="text-align: center;"> Email </th>


	</tr>
	<tr align = "center">
	<td> Eric Idle </td> <td> ei7364 </td>
	<td align = "left">   ericI@utexas.edu  </td>
	</tr>
	<tr align = "center">
	<td> Graham Chapman </td> <td> gc99080 </td>
	<td align = "left">    g_chap@utexas.edu </td>
	</tr>
	<tr align = "center">
	<td> Terry Gilliam </td> <td> tg34 </td>
	<td align = "left">    gilliam@utexas.edu  </td>
	</tr>
	<tr align = "center">
	<td> John Cleese </td> <td> jc12097 </td>
	<td align = "left">   jc@utexas.edu </td>
	</tr>
	<tr align = "center">
	<td> Micheael Palin </td> <td> mp23498 </td>
	<td align = "left">   mp@utexas.edu </td>
	</tr>
	</table>
</center>

	<div class="row" style="text-align: center;">
		
		
		<div class="col-md-4 col-sm-4">	
			<button class="button" onclick="location.href='StudentHome.html'">Back</button>
		</div>
	</div>
</div>
</body>
</html>