<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    Hello world! This is your main landing page.
    <hr>
    {% load static %}
    <a href="{% static "instructions.txt" %}">Click me for general info</a><br/>
    <a href="{% static "djangofy.txt" %}">Click me for info on how to "Django-fy" a webpage</a><br/>
    <a href="https://docs.djangoproject.com/en/1.11/intro/tutorial01/">Click me for a general Django Tutorial</a><br/>
    <a href="https://docs.djangoproject.com/en/1.11/topics/auth/">Click me for user authentication</a><br/>
    <hr/>
    <hr/>
    This is a test of user creation:
    <ul>
        <li>Name: {{ user.username }}</li>
        <li>Bio: {{ user.credentials.is_teacher}}</li>
    </ul>

</body>
</html>