<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
Test
Test2
	<!-- 
    Hello world! This is your main landing page.
    <hr>
    {% load static %}
    <a href="{% static "instructions.txt" %}">Click me for info</a><br/>
    <a href="https://docs.djangoproject.com/en/1.11/intro/tutorial01/">Click me for a general Django Tutorial</a><br/>
    <a href="https://docs.djangoproject.com/en/1.11/topics/auth/">Click me for user authentication</a><br/> -->
</body>
</html>