<!DOCTYPE html>
<html>
<head>
	<title>Quest</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="design2.css">
	
</head>
<body>
<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="welcome.html">
	    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
</nav>

<h1 class="head">Quest</h1>

<center>
	<table class="table table-sm table-hover" border = "5" style="text-align: center;" id="questTable">
	<tr align = "center">

	<th style="text-align: center;"> Name </th> <th style="text-align: center;"> Grade </th> <th style="text-align: center;"> Distribution </th>

	</tr>
	<tr align = "center">
	<td> HW1 </td> <td> 100  </td>
	<td align = "left"> 100%  </td>
	</tr>
	<tr align = "center">
	<td> HW2 </td> <td> 100 </td>
	<td align = "left"> 100%  </td>
	</tr>
	<tr align = "center">
	<td> HW3 </td> <td> 100 </td>
	<td align = "left"> 100%  </td>
	</tr>
	<tr align = "center">
	<td> Quiz1 </td> <td> 100 </td>
	<td align = "left"> 100%  </td>
	</tr>
	<tr align = "center">
	<td> Quiz2 </td> <td> 100 </td>
	<td align = "left">  100% </td>
	</tr>
	<tr align = "center">
	<td> Quiz3 </td> <td> 100 </td>
	<td align = "left">  100%  </td>
	</tr>
	<tr align = "center">
	<td> Assignment1 </td> <td> 100 </td>
	<td align = "left"> 100% </td>
	</tr>
	</table>
</center>

<br/>

<center><button class="button" onclick="location.href='StudentHome.html'">Back</button></center>

</body>
</html>