<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Quiz</title>
	<link rel ="stylesheet" href="design.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<h1>Quiz</h1>
<body>
	This quiz covers pg. 23-28 in the textbook.
</body>

<br/>
<!--when click on start, present quiz-->
<button class="button" onclick="myFunction()">Start</button>
<form>
<div id="myDIV2">
        <table>
          <tr>
            <th>Question number</th>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>Q1</td>
            <td>Please integral the expression 3x^2 +2x, from 0 to 2, of x</td>
            <td><input type="text" name="Q1"></td>
          </tr>
          <tr>
            <td>Q2</td>
            <td> Determine the derivative of f’(4) when f(x) = 4/3*x^3/2+6x^1/2</td>
            <td><input type="text" name="Q2"></td>
          </tr>
          <tr>
            <td>Q3</td>
            <td>Please integral the expression 1/sqrt(3-x), from 0 to 3, of x</td>
            <td><input type="text" name="Q3"></td>
          </tr>
          <tr>
            <td>Q4</td>
            <td>Find local minimum of x^2-2x+2 on [-2,2]</td>
            <td><input type="text" name="Q4"></td>
          </tr>
          <tr>
            <td>Q5</td>
            <td>X,Y are a Poisson random variables with  3. Find the probability that X,Y both equal to 0</td>
            <td><input type="text" name="Q5"></td>
          </tr>
        </table>





</div>
</form>

<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<br/>
<button class="button">Finish</button>
<br/>
<button class="button" onclick="location.href={% url 'student_home'%}">Back</button>

</html>