<!DOCTYPE html>
<html>
{% load static %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href= "{% static "style.css" %}">
	<title>Quiz {{quiz_specific.quiz_id}} </title>
</head>
<body>
	<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="{% url 'welcome'%}">
	    <img src="{% static "logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
	</nav>

<div class="container">
	<h1 class="head">Quiz {{quiz_specific.quiz_id}} </h1>
		<hr>
		<table>
			<tbody>
        <form action="{% url 'create_assignment' %}" method="post">
				{% for question in quizSpecificQuestions %}
        <br>
          <h2>Question {{question.question_id}}</h2>
          <p>{{question.body}}</p>
            {% csrf_token %}
            <div class="container">
              <b style = "font-family: Verdana">{{takeQuizForm.answer.label_tag}}</b>{{takeQuizForm.answer}}
            </div>
        {% endfor %}
      </form>
			</tbody>
		</table>

</div>

<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
<center>
<br/>
<button class="button">Finish</button>
<button class="button" onclick="location.href={% url 'student_home'%}">Back</button>
<br>
<br>
</center>
</body>
</html>