<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Quizzes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<h1>Quizzes</h1>
<body>
	<center>
    <div class="container">
        {% for iter in quiz_id_list %}
        <br>
        <div>
            <button class="button" onclick="location.href='/quiz/{{ iter }}'"> Take Quiz {{ iter }}</button>
        </div>
        {% endfor %}
    </div>
</body>
<br>
<button class="button" onclick="location.href={% url 'student_home'%}">Back</button>
</center>
</html>