<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Quiz</title>
	<link rel ="stylesheet" href="design.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<h1>Quiz</h1>
<body>
	This quiz covers pg. 23-28 in the textbook.
</body>
<br/>
<button type="button">Start</button>
<br/>
<br/>
<button type="button">Finish</button>
<br/>
<button type="button" onclick="location.href={% url 'student_home'%}">Back</button>

</html>