<!DOCTYPE html>
<!--student home page-->
<html>
{% load static %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="design2.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Student Home</title>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="welcome.html">
	    <img src="{% static "logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
</nav>
<div class="container">
	
	<div class="row">



			<div class="col-md-2"></div>

			<div class="col-md-8">
				<div class="login_block">
				<center><h1>Student Home</h1></center>
				&nbsp;
				<h3>Quizzes and Assignments</h3>
				<button class="button" onclick="location.href={% url 'quizzes'%}">Quizzes</button>
				<button class="button" onclick="location.href={% url 'assignments'%}">Assignments</button>
				</div>

				<div class="login_block">
				<h3>Quests</h3>
				<button class="button" onclick="location.href={% url 'quest'%}">Quests</button>
				</div>

				<div class="login_block">
				<h3>Your Guild</h3>
				<button class="button" onclick="location.href={% url 'guild'%}">Your Guild</button>
				</div>

				<div class="login_block">
				<h3>Student Report</h3>
				<button class="button" onclick="location.href={% url 'student_report'%}">Student Reports</button>
				</div>
			<div>


			<div class="col-md-2"></div>

	</div>
</div>
</body>
</html>