<!DOCTYPE html>
<!--student home page-->
<html>
{% load static %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="design2.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Student Home</title>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="welcome.html">
	    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
</nav>
<div class="container">
	<div class="row">

		<button type="button" onclick="location.href={% url 'quest'%}">Quests</button>
		<button type="button" onclick="location.href={% url 'quiz'%}">Quizzes</button>
		<button type="button" onclick="location.href={% url 'assignments'%}">Assignments</button>
		<button type="button" onclick="location.href={% url 'guild'%}">Student Guilds</button>
		<button type="button" onclick="location.href={% url 'student_report'%}">Student Reports</button>
		<div>
</div>
</body>
</html>