<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="design2.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Teacher Report</title>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="{% url 'welcome' %}">
	    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
</nav>
<div class="container">
<h1>Teacher Report</h1>
<br/>
<div class="row">
<button type="button" onclick="location.href={% url 'teacher_home'%}">Back</button>
</div>
</div>
</body>
</html>