<!DOCTYPE html>
<!--welcome page-->
<html>
{% load static %}
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
	<nav class="navbar navbar-light bg-faded">
	  <a class="navbar-brand" href="{% url 'welcome'%}">
	    <img src="{% static "logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
	    WHITEBOARD
	  </a>
	</nav>
	<div class="container">

		<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-8">
					<div class="login_block">
					<h3>Login As Student</h3>
					<button class="button" onclick="location.href='login.html'">Login As Student</button>
					</div>

					<div class="login_block">
					<h3>Login As Teacher</h3>
					<button class="button" onclick="location.href='login.html'">Login As Teacher</button>
					</div>

					<div class="login_block">
					<h3>Create Account</h3>
					<button class='button' onclick="location.href='register.html'">Create Account</button>
					</div>
				</div>

				<div class="col-md-2"></div>
		</div>	
	</div>
		
	
	

</body>


</html>